@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins/Poppins-Light.ttf');
}

body {
  font-family: Poppins, sans-serif;
  background-color: #1e1e24;
  color: white;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

button {
  font-weight: bold;
  font-size: 1em;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.main::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: inherit;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
  box-shadow: 0 3px 3pex rgba(34, 25, 25, 0.4);
}

.app-bar {
  display: flex;
  justify-content: space-between;
}

.app-bar h1 {
  font-size: 27px;
  margin: 0;
  display: inline-block;
  margin-right: 1em;
}

.task-form {
  display: flex;
  margin: 16px;
}

.task-form > input {
  background: none;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  border: 0;
  border-bottom: 1px solid #3d3f51;
  color: white;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
}

.task-form > input:focus {
  outline: 0;
}

.task-form > button {
  min-width: 100px;
  height: 95%;
  background-color: #315481;
}

.tasks {
  background-color: #27293d;
  border-radius: 5px;
  list-style-type: none;
  padding-inline-start: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin: 20px 20px;
}

.tasks > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
  padding: 5px 5px;
  border-bottom: #3d3f51 solid 1px;
}

.tasks > li:last-of-type {
  border: 0;
}

.tasks > li input[type='checkbox'] {
  appearance: none;
  border: 1px solid #cacece;
  border-radius: 3px;
  padding: 6px;
  position: relative;
}

.tasks > li input[type='checkbox']:checked {
  background-color: #4b5fce;
}

.tasks > li input[type='checkbox']:checked:after {
	content: '\2714';
	font-size: 12px;
  font-weight: bold;
	position: absolute;
	top: -2px;
	left: 1px;
	color: white;
}

.tasks > li > span {
  font-size: 17px;
  font-weight: 100;
  padding-left: 10px;
  flex-grow: 1;
}

.tasks > li > button {
  background: none;
  justify-self: flex-end;
}
